<h3>realtimeproducts</h3>

<div id="menu">
    <ul id="menuOptions">
        <li class="menuLi"><a href="http://localhost:8080/" target="_blank" rel="noopener noreferrer">Chat</a></li>
        <li class="menuLi"><a href="http://localhost:8080/products" target="_blank" rel="noopener noreferrer">Productos.view</a></li>
        <li class="menuLi"><a href="http://localhost:8080/carts" target="_blank" rel="noopener noreferrer">Carritos.view</a></li>
        <li class="menuLi">| PRUEBAS CARRITOS :</li>
        <li class="menuLi"><a href="http://localhost:8080/api/carts/cartId" target="_blank" rel="noopener noreferrer">cart/id</a></li>
</div>


<div id="carritos"></div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/carts.js"></script>